// En face
@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    src:local("Open Sans"),local("Open-San"),url(../fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");

}
@font-face {
    font-family: "Merriweather";
    font-weight: 400;
    font-style: normal;
    src:local("Open Sans Bold"),local("Open-San-Bold"),url(../fonts/Open_Sans/OpenSans-Bold.ttf) format("truetype");

}

// kh face
@font-face{
    font-family:Kantumruy;
    font-style:normal;
    font-weight:400;
    src:local("Kantumruy"),url(../fonts/Kantumruy/Kantumruy-Regular.ttf) format("truetype");
    unicode-range:U+1780-17FF,U+200B-200C,U+25CC
}
@font-face{
    font-family:Kantumruy;
    font-style:normal;
    font-weight:700;
    src:local("Kantumruy Bold"),local("Kantumruy-Bold"),url(../fonts/Kantumruy/Kantumruy-Bold.ttf) format("truetype");
    unicode-range:U+1780-17FF,U+200B-200C,U+25CC
}