$font-body: "Open Sans", "Kantumruy", sans-serif;
$font-family-sans-serif: $font-body;
$line-height-base:  1.7!default;


$breadcrumb-divider: quote(">");

$enable-responsive-font-sizes: false;
$grid-gutter-width: 20px;
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1280px
) !default;

$spacer: 16px !default;

// spacing section
$space-section-t: 44px;
$space-section-b: 44px;

$space-t-small: 24px;
$space-b-small: 24px;



$h1: 22px;
$h2: 20px;
$h3: 18px;
$h4: 16px;
$h5: 14px;
$h6: 12px;

// colors
$body-bg: #F4F4F4;
$primary: #003A8A;
$secondary: #444444;
$info: #13A2E1;
$warning: #F27C00;
$danger: #DF2A54;
$light: #8B8B8B;
$dark: #12293A;