html, body {
    height: 100%;
}
.nav-open, .search-open {
    overflow:  hidden;
}
.nav-open .mobile-header .mobile-nav {
    z-index: 2;
    display: block;
    transition:all 0.3s ease-in-out;
    transform: none;
}